<div class="container">
    <div class="row">
        <div class="col-12">
            <button (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" routerLink="orders"><span>Orders</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="alerts"><span>Alerts</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="alerts/my"><span>My Alerts</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="feed"><span>Feed</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="backtest"><span>Backtest</span></a>
                </li>
            </ul>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="font-size: 3em;">
            Timer: {{ time }}
            <!--<br>
             <audio controls>
                <source src="assets/audio/ding-101492.mp3" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
            <button (click)="playAudio()">Play</button>
    <button (click)="pauseAudio()">Pause</button>
    <button (click)="stopAudio()">Stop</button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
